@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .appContainer {
    @apply px-6 mx-auto max-w-7xl;
  }
}

.amplify-checkbox__button--focused::before {
  box-shadow: none !important;
}

.amplify-checkbox__button::before {
    content: "";
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    width: var(--amplify-components-checkbox-button-before-width);
    height: var(--amplify-components-checkbox-button-before-height);
    border: none !important;
    background-color: #e8e8e8;
}

.amplify-checkbox__button:focus {
  outline: none;
  box-shadow: unset;
}

.amplify-checkbox__icon {
  background-color: #f28806 !important;
}

.amplify-checkbox__icon:focus {
  background-color: #f28806 !important;
  outline: none;
}

.amplify-checkbox__icon > svg:focus {
  outline: none !important;
}

.custom-input.amplify-input {
  padding: 10px 0;
  height: 45px;
  @apply text-sm;
}

.amplify-input--quiet {
  padding: 10px 0 !important;
  height: 45px;
  @apply text-sm text-blue-900;
}

.amplify-input--quiet:disabled {
  background-color: transparent !important;
  border-color: #89949f !important;
  @apply text-sm;
}

.custom-input.amplify-input:focus {
  border-color: #f59e0b !important;
  box-shadow: unset;
}

.amplify-input--quiet:focus {
  box-shadow: unset !important;
  border-color: #f59e0b !important;
}

.amplify-autocomplete__menu {
  background-color: #f9f9f9;
  border-radius: 0%;
  overflow-y: scroll;
  /*max-height: 150px;*/
}

/* .amplify-field-group__inner-start {
  display: none !important;
} */

.amplify-field-group__icon-button {
  background-color: transparent !important;
  height: 100%;
  display: flex;
  align-items: center;
}

.amplify-field-group__icon-button:hover {
  background-color: transparent !important;
}

.amplify-autocomplete__menu {
  z-index: 9999 !important;
  @apply border-gray-300;
}

.amplify-autocomplete__menu__option:hover	{
  @apply bg-gray-200 text-gray-800 transition-all duration-300 ease-in-out;
}

.amplify-autocomplete__menu__option:focus {
  @apply bg-gray-200 text-gray-800 transition-all duration-300 ease-in-out;
}

.amplify-autocomplete__menu__option:active {
  @apply bg-gray-200 text-gray-800 transition-all duration-300 ease-in-out;
}

.amplify-button:focus {
  outline: none;
  box-shadow: none !important;
}