@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.amplify-checkbox__button--focused::before {
  outline: none !important;
  border: none !important;
  background-color: unset !important;
}

.amplify-checkbox__button::before {
    content: "";
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    width: var(--amplify-components-checkbox-button-before-width);
    height: var(--amplify-components-checkbox-button-before-height);
    border: none !important;
    background-color: #e8e8e8;
}

.amplify-checkbox__button:focus {
  outline: none;
  box-shadow: unset;
}

.amplify-checkbox__icon {
  background-color: #f28806 !important;
}

.amplify-checkbox__icon:focus {
  background-color: #f28806 !important;
  outline: none;
}

.amplify-checkbox__icon > svg:focus {
  outline: none !important;
}

.custom-input.amplify-input {
  padding: 10px 0;
}

.custom-input.amplify-input:focus {
  border-color: #f59e0b !important;
  box-shadow: unset;
}

